.label-base-point {
  margin-top: 5px;
}

.btn-base-point {
  margin-top: 10px;
}

#table-base-points {
  th { vertical-align: middle;
       text-align: center;
  }
  td { vertical-align: middle;
       text-align: center;
  }
}
       